<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css'  %}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Sign Up</h2>
    <form method="POST" action="{% url 'create_person' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="name" name="first_name" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="name" name="last_name" required>
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Your Age</label>
            <input type="number" class="form-control" id="email" name="age" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Your Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        
        <div class="mb-3">
            <label for="name" class="form-label">User Name</label>
            <input type="text" class="form-control" id="name" name="username" required>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Mobile</label>
            <input type="text" class="form-control" id="name" name="mobile" required>
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" required>
        </div>
        
        <div class="mb-3">
            <label for="repeat-password" class="form-label">Repeat your password</label>
            <input type="password" class="form-control" id="repeat-password" required>
        </div>
        
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="terms" required>
            <label class="form-check-label" for="terms">I agree to all statements in Terms of Service</label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>